@using kudapoyti.Service.ViewModels
@model PlaceViewModel
<div class="d-flex justify-content-center" style="margin-top:250px">
    <div class="card px-4 pt-4 pb-4 pe-4">
      
        <form asp-action="delete" asp-controller="place" asp-area="admin" asp-route-Id="@Model.Id" method="post">
            <div class="card-body">
                <h3>
                    Вы действительно хотите удалить @Model.Title этого Place?
                </h3>
                <div class="mt-4 mb-2 d-flex justify-content-end">
                    <input type="submit" class="btn btn-danger me-2" value="Delete" style="border-radius: 20px;">
                    <a asp-area="admin" asp-controller="place" asp-action="index" class="btn btn-secondary" style="border-radius:20px;">Cancel</a>
                </div>
            </div>
        </form>

    </div>

</div>
