<!DOCTYPE html>

<html>
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kudapoyti.Web</title>
    <link href="~/Images/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <link href="~/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid position-relative nav-bar p-3">
        <div class="container-lg position-relative p-2 mt-1">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-1 py-lg-3 pl-1 pl-lg-4">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">Kuda</span>Poyti</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0" style="column-gap: 10px;">
                        <button type="button" class="btn btn-outline-success btn-rounded" style="border-radius:15px;" data-mdb-ripple-color="dark">Party</button>
                        <button type="button" class="btn btn-outline-success btn-rounded" style="border-radius:15px;" data-mdb-ripple-color="dark">Kino</button>
                        <button type="button" class="btn btn-outline-success btn-rounded" style="border-radius:15px;" data-mdb-ripple-color="dark">Konsert</button>
                        <button type="button" class="btn btn-outline-success btn-rounded" style="border-radius:15px;" data-mdb-ripple-color="dark">Restaurant</button>
                        <button type="button" class="btn btn-outline-success btn-rounded" style="border-radius:15px;" data-mdb-ripple-color="dark">Place</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="container">
        <main class="pb-3 mt-5">
            @RenderBody()
        </main>
        
    </div>
    <div id="footer" class="container-fluid bg-dark text-white-10 py-5 px-sm-3 px-lg-5" style="margin-top: 50px;">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">Kuda</span>Payti</h1>
                </a>


            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Our Services</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>News Service</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Usefull Links</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="https://t.me/kudapoytii_bot"><i class="fa fa-angle-right mr-2"></i>Admin</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
                <p><i class="fa fa-phone-alt mr-2"></i>+998 71 505 0555</p>
            </div>
        </div>
    </div>

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/main.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
