@{
    ViewData["Title"] = "KudaPayti";
}

<div class="container-fluid py-200">
    <div class="container pt-5 pb-5">
        <div class="text-center mb-3 pb-3">
            <h2 class="text-primary text-uppercase" style="letter-spacing: 5px;">Recommended</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="Images/KonsertAshxabad.png" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h2 class="text-white">Ashxabad</h2>
                        <span>Consert</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="Images/Siti.png" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="https://t.me/kudapoytii_bot">
                        <h2 class="text-white">Magic City</h2>
                        <span>Kino</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2 card__title">
                    <img class="img-fluid" src="Images/vecherinka.png" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h2 class="text-white">Shioka Bar</h2>
                        <span>Party</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- News -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h1>Top</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="Images/Konsert.jpg" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Tashkent</small>
                            <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>Consert</small>
                        </div>
                        <a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h7 class="m-0">DataTime 19:00</h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="Images/Kino.png" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Tashkent</small>
                            <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>Kino</small>

                        </div>
                        <a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h7 class="m-0">DataTime 19:00</h7>
                                <h5 class="m-0">free</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="Images/Magic.webp" alt="">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Magic City</small>
                            <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>Consert</small>
                        </div>
                        <a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                <h7 class="m-0">DataTime 18:00</h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- linders Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our team</h6>
            <h1>Leader's</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                <div class="team-item bg-white mb-4">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/testimonial-3.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-primary btn-square" href="https://t.me/Shoxrux_Husenov"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-truncate">Shoxrux Husenov</h5>
                        <p class="m-0">.NET</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                <div class="team-item bg-white mb-4">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/testimonial1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-primary btn-square" href="https://t.me/good_luck1804"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-truncate">Zulaykho Saparbaeva</h5>
                        <p class="m-0">.Net</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                <div class="team-item bg-white mb-4">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/testimonial2.png" alt="">
                        <div class="team-social">
                            <a class="btn btn-outline-primary btn-square" href="https://t.me/samandarlcl"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-truncate">Samandar Abdunazarov</h5>
                        <p class="m-0">Coder</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

