@using kudapoyti.Service.Dtos.Accounts
@model AdminAccountLoginDto
@{
    Layout = "_AccountLayout.cshtml";
}

<div class="wrppr">
    <h2 class="text-uppercase text-center mb-4">Create your Login</h2>
    <form asp-area="" asp-controller="admin" asp-action="login" method="post">

        <div class="form-outline">
            <label class="form-label fw-bold" for="form3Example3cg">Email</label>
            <input type="email" asp-for=Email class="form-control form-control-md" placeholder="example@gmail.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-outline">
            <label class="form-label fw-bold" for="form3Example4cg">Password</label>
            <input type="password" asp-for=Password class="form-control form-control-md" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <input type="submit" class="btn btn-success" style="width:100%;" value="Login" />
        </div>

        <div class="mt-2 mb-6">
            <a class="btn btn-primary" style="width:100%;" asp-controller="admin" asp-action="register">
                Register
            </a>
        </div>
    </form>
</div>