@using kudapoyti.Service.ViewModels
@model List<PlaceBaseViewModel>
<div class="container-fluid py-200">
    <div class="container pt-5 pb-5">
        <div class="text-center mb-3 pb-3">
            <h2 class="text-primary text-uppercase" style="letter-spacing: 5px;">Recommended</h2>
        </div>
    @{
        foreach(var place in Model)
        {
             <div class="row">
                 <div class="col-lg-4 col-md-6 mb-4">
                      <div class="destination-item position-relative overflow-hidden mb-2">
                            <img class="img-fluid" src="img/KonsertAshxabad.png" alt="">
                          <a class="destination-overlay text-white text-decoration-none" href="">
                             <h2 class="text-white">@place.Region</h2>
                             <span>@place.Title</span>
                          </a>
                     </div>
                 </div>
             </div>
        }
    }
    </div>
</div>