@using kudapoyti.Service.Dtos.Accounts
@model AdminAccountLoginDto
@{
    Layout = "_AccountLayout.cshtml";
}
<div class="card w-500px h-630px mt-10 mb-10" style="margin-left:auto; margin-right:auto;">
    <div class="vh-100 bg-image"
         style="background-image: url('https://media.istockphoto.com/id/1176446044/photo/tourist-couple-enjoying-their-summer-vacation.jpg?s=612x612&w=0&k=20&c=3grsfsTHDxJM7frpr0QbKb9g-FkoZLyXiCAdgBK4548=');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-80">
                <div class="row d-flex justify-content-center align-items-center h-80">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 10px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-4">Login Admin</h2>
                                <form asp-area="" asp-controller="accounts" asp-action="login" method="post">
                                    
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Email</label>
                                        <input type="email" asp-for=Email class="form-control form-control-lg" placeholder="example@gmail.com" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cg">Password</label>
                                        <input type="password" asp-for=Password class="form-control form-control-lg" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                   
                                    <div class="mt-5;">
                                        <input type="submit" class="btn btn-success" style="width:100%;" value="Login" />
                                    </div>

                                    <div class="mt-5 mb-6">
                                        <a class="btn btn-primary" style="width:100%;" asp-controller="accounts" asp-action="register">
                                            Register
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>